.promotion {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $sea-grey;
  background-image: url("../img/backgrounds/bg-promotion-desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/backgrounds/bg-promotion-desktop@2x.png");
  }
}

.promotion__slogan {
  font-size: 42px;
  line-height: 48px;
  font-weight: 800;
  margin-bottom: 39px;
  letter-spacing: 0.03em;
}

.promotion__slogan span {
  color: $orange;
}

.promotion__container {
  width: 628px;
  display: flex;
  flex-direction: column;
  padding: 238px 0 305px;
  margin-right: 84px;
  background-repeat: no-repeat;
  background-size: 179px 65px;
  background-position: left 21px bottom 398px;
  background-image: url("../img/backgrounds/bg-stars@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/backgrounds/bg-stars@2x.png");
  }
}

.promotion__button {
  @include reset-button;

  display: inline-block;
  vertical-align: top;
  width: 306px;
  text-align: center;
  border-radius: 4px;
  background-color: $orange;
  padding: 10px 10px 13px;
  color: $white;
  text-transform: uppercase;
  margin-left: 217px;
  border: 2px solid $orange;
  font-size: 12px;
}

.promotion__button:hover,
.promotion__button:focus {
  background-color: transparent;
}

.promotion__button:active {
  opacity: 0.7;
}

.promotion__text {
  margin: 0 0 55px 217px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 15px;
}

.promotion__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.promotion__button-wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promotion__down-button {
  @include reset-button;

  width: 25px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid $white;
  position: relative;
  margin-bottom: 15px;
  letter-spacing: 0.02em;
}

.promotion__down-button::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 8px;
  background-color: $white;
  left: 50%;
  transform: translateX(-50%);
  top: 8px;
}

.promotion__down-button:hover,
.promotion__down-button:focus {
  border-color: $orange;
}

.promotion__down-button:hover::after,
.promotion__down-button:focus::after {
  background-color: $orange;
}

.promotion__down-button:active {
  opacity: 0.7;
}

.promotion__button-label {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.04em;
}

@media (max-width: $tablet-width) {
  .promotion__slogan {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.02em;
    margin-bottom: 37px;
  }

  .promotion__text {
    font-size: 13px;
    line-height: 18px;
    margin: 0 5px 39px 107px;
  }

  .promotion__button {
    margin-left: 107px;
    padding: 11px;
  }

  .promotion {
    background-image: url("../img/backgrounds/bg-promotion-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/bg-promotion-tablet@2x.png");
    }
  }

  .promotion__container {
    background-image: none;
    width: 520px;
    margin-right: 36px;
    padding-bottom: 235px;
  }

  .promotion__button-label {
    display: none;
  }

  .promotion__down-button {
    margin-bottom: 0;
  }

  .promotion__button-wrap {
    bottom: 51px;
  }
}

@media (max-width: $mobile-width) {
  .promotion {
    background-image: url("../img/backgrounds/bg-promotion-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/bg-promotion-mobile@2x.png");
    }
  }

  .promotion__slogan {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 41px;
  }

  .promotion__text {
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 65px;
    text-align: center;
    letter-spacing: -0.04em;
  }

  .promotion__container {
    margin-right: 0;
    align-items: center;
    width: 100%;
    padding: 154px 2.5% 59px;
  }

  .promotion__button {
    margin-left: 0;
    width: 304px;
    letter-spacing: 0.02em;
    padding: 11px 5px 12px;
  }

  .promotion__button-wrap {
    display: none;
  }
}
