
@media (max-width: $mobile-width) {
  .slider .slick-track {
    display: flex;
    align-items: center;
  }

  .slider .slick-list {
    overflow: hidden;
  }

  .slider__image {
    height: 410px;
    width: 240px;
    display: block;
  }

  .slider .slick-active .slider__image {
    height: 450px;
    width: 264px;
  }

  .slider .slick-active {
    margin: 10px;
  }

  .slider__link {
    display: block;
    position: relative;
  }

  .slider__link::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 92px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .slider .slick-active .slider__link::after {
    height: 100px;
  }

  .slider .slick-active .slider__link:hover::after,
  .slider .slick-active .slider__link:focus::after {
    height: 100%;
  }

  .slider__link::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 34px;
    text-align: center;
    z-index: 2;
    font-size: 18px;
    font-weight: 500;
    color: $white;
  }

  .slider__item {
    margin: 10px 0;
    box-shadow: 0 3px 10px 0 rgba(2, 2, 2, 0.2);

    &--school {
      .slider__link::before {
        content: "Школьная программа";
      }
    }

    &--student {
      .slider__link::before {
        content: "Школьная программа";
      }
    }

    &--additional-study {
      .slider__link::before {
        content: "Дополнительное образование";
      }
    }
  }

  .slider__link:hover::before,
  .slider__link:focus::before {
    content: "Подробнее о программе";
  }

  .slider__link:hover::after,
  .slider__link:focus::after {
    height: 100%;
    transition: all 0.5s ease;
    background-color: rgba(0, 0, 0, 0.3);
  }


  .slider__link:hover .slider__image,
  .slider__link:focus .slider__image {
    box-shadow: 0 -5px 0 0 $light-blue;
  }

  .slider__link:active {
    opacity: 0.7;
  }
}
