$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: #ffffff;
$black: #000000;
$sea-grey: #57727c;
$dark-charcoal: #25262a;
$orange: #fe8057;
$tablet-width: 1024px;
$mobile-width: 767px;
$grey: rgb(105, 105, 105);
$blue: #4e93e1;
$light-blue: #66d0fa;
